.form-horizontal .control-label {
  text-align: left;
}
.form-horizontal .form-control {
  padding: 3px 5px;
  height: 25px;
}
.navbar-brand {
  color: #333;
}
.navbar-brand span {
  color: red;
}
body {
  background-color: #fef9f0;
}
.modal-dialog {
  width: 70%;
}
.navbar-theme {
  background-color: #76d3de;
  color: #fff;
}
.navbar-theme li a {
  color: #00606b;
}
.navbar-theme li.dropdown a:hover {
  background-color: #c8edf2;
  color: #00606b;
}
.panel-default .panel-heading {
  background-color: #c8edf2;
  color: #00606b;
}
.modal-header {
  background-color: #c8edf2;
  color: #00606b;
}
.btn-inverse {
  background-color: #00bcd1;
  color: #333;
}
